:root {
    --Light-Grayish-Cyan-Background: hsl(180, 52%, 96%);
    --Light-Grayish-Cyan-Filter-Tablets: hsl(180, 31%, 95%);
    --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
    --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
    --Desaturated-Dark-Cyan: hsl(180, 29%, 50%)
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: le;
}

/* Applying League Spartan with weight 500 */
.league-spartan-500 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
}

/* Applying League Spartan with weight 700 (bold) */
.league-spartan-700 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}


body {
    background-color: var(--Light-Grayish-Cyan-Background);
}

.top-background {
    background-color: var(--Desaturated-Dark-Cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.search-bar-container {
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 40%;
    border: none;
    position: absolute;
    bottom: -10%;
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
    outline: none;
}


.job-listing-div {
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
    width: fit-content;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}



.job {
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 2rem;
    background-color: rgb(255, 255, 255);
    padding: 0.8rem 1.3rem;
    border-radius: 0.5rem;
}

.job:nth-child(1),
.job:nth-child(2) {
    border-left: 4px solid var(--Desaturated-Dark-Cyan);
    border-radius: 0;
}



@media screen and (max-width:600px) {
    .job-listing-div {
        /* border: 2px solid rebeccapurple; */
        gap: 3rem;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 5rem;
    }

    .job {
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1rem;
        width: 80%;
    }


    .company-logo-detail-div {
        /* border: 2px solid blue; */
        flex-direction: column;
        position: relative;
        gap: 10rem;
    }

    .company-detail-div {
        gap: 2rem;
        /* border: 2px solid; */
        width: 100%;
    }

    .company-logo-div img {
        position: absolute;
        left: 0;
        top: -40%;
        width: 20%;
    }

    .company-skills-div {
        display: flex;
        flex-wrap: wrap;
    }

    .search-bar {
        width: 60%;
    }


}

.company-logo-detail-div {
    /* border: 2px solid; */
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 0;
    width: 100%;
}

.company-logo-div {}

.company-detail-div {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.company-name {
    color: var(--Desaturated-Dark-Cyan);
}

.company-detail-div div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.company-detail-div>div>ul {
    display: flex;
    gap: 1rem;
}

.company-skills-div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.company-skills-div p {
    background-color: var(--Light-Grayish-Cyan-Background);
    color: var(--Desaturated-Dark-Cyan);
    font-weight: 700;
    padding: 0.2rem .5rem;
    border-radius: 0.3rem;
}

.new-tag {
    background-color: var(--Desaturated-Dark-Cyan);
    border-radius: 0.5rem;
    padding: 0.1rem 0.3rem;
    color: var(--Light-Grayish-Cyan-Filter-Tablets);
}

.featured-tag {
    background-color: var(--Very-Dark-Grayish-Cyan);
    padding: 0.1rem 0.3rem;
    border-radius: 0.5rem;
    color: var(--Light-Grayish-Cyan-Filter-Tablets);
}

footer {
    background-color: var(--Desaturated-Dark-Cyan);
    height: 50px;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:600px) {
    #header-img {
        content: url("./images/bg-header-mobile.svg");
        width: 100%;
    }
}